{% extends "./plantilla.html" %}
{% block contenido %}
<div class="bg-image"
    style="background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20230525/pngtree-3d-computer-lab-room-image_2620499.jpg'); background-size: cover; background-position: center; background-attachment: fixed; min-height: 100vh; padding: 20px;">
    <div style="background-color: rgba(0, 0, 0, 0.7); min-height: 100vh; padding: 20px; border-radius: 8px;">
        <div class="container mt-5 p-4 text-light">
            <h1 style="text-align: center;">Listado de los Espacios de Estudios</h1>
            <br>
            <div class="table-responsive">
                <table  class="table table-bordered table-striped table-hover text-center">
                    <thead class="table table-dark table-striped">
                        <tr>
                            <th>ID</th>
                            <th>NOMBRE</th>
                            <th>UBICACIÓN</th>
                            <th>CAPACIDAD</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>
    
                    {% for est in espacio %}
    
                    <tr>
                        <td>{{est.idEsp}}</td>
                        <td>{{est.nombreEspacio}}</td>
                        <td>{{est.ubicacionEspacio}}</td>
                        <td>{{est.capacidadEspacio}}</td>       
                        <td>
                            <div class="btn-group" role="group">
                                
                                <a href="/editarEspacio/{{est.idEsp}}" type="button"
                                    class="btn btn-outline-primary btn-sm">✏️</a>
                                &nbsp;&nbsp;&nbsp;
                                <a onclick="return confirm('Estas Seguro');" href="/eliminarEspacio/{{est.idEsp}}"
                                    type="button" class="btn btn-outline-danger btn-sm">⛔</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}